<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD A STOCK</title>
</head>
<body>
    <div class="card">
        <div class="container">
            <form action="/stocks" method="POST">
                <label>Name:
                    <input type="text" name="name">
                </label>
                <label>Symbol:
                    <input type="text" name="symbol">
                </label>
                <label>Open:
                    <input type="text" name="open">
                </label>
                <label>High:
                    <input type="text" name="high">
                </label>
                <label>Low:
                    <input type="text" name="low">
                </label>
                <label>Close:
                    <input type="text" name="close">
                </label>
                <label>Volume:
                    <input type="text" name="volume">
                </label>

                <button type="submit" value="ADD STOCK">ADD STOCK</button>
            </form>
        </div>
    </div>
</body>
</html>