<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css\style.css" />
    <title>Dashboard</title>
</head>
<body>
    <a href="/logout" class="button-i"> LOG OUT</a>
    <div class="main-container">
        <div class="card">
        <img src="images\ideas-01.png" alt="logo" class="slogo">
            <div class="container">
                <h2><%= investor.name %></h2>
                <table>
                    <thead>
                    <tr>
                        <th>stocks</th>
                    </tr>
                    </thead>
                    <tbody>
                        
                        <% for(let i = 0; i < investor.portfolio.length; i++) { %>
                            <tr>
                                <td><%= investor.portfolio[i].name %></td>
                               
                                <td><a href="/stocks" class="button-s">Details</a></td>
                             </tr>
                       <% } %>
                       
                    </tbody>
                    
                </table>
            
                <a href="stocks/new" class="button-d">ADD STOCK</a>
            </div>
        </div>
        <footer>
            
        
        </footer>
    </div>
</body>
</html>